*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Helvetica;

}

.overlay{
    width: 100%;
    height: 100%;


    background: url("https://images.pexels.com/photos/8818664/pexels-photo-8818664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    opacity: 0.9;
}


.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* text-shadow: 0 0 30px rgb(0, 0, 0); */

    color: rgb(221, 255, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);

}

.container h1{
    font-size: 120px;

    width: 100%;
    text-align: center;

    /* background-color: yellow; */
    /* background: linear-gradient(to right, #fffb0093, #ffffff8f); */

    /* color: white; */

    padding: 30px;
    /* margin: 10px 0; */

    /* font-style: italic; */
    font-weight: 500;


}
    
.container p:first-of-type{
    font-size: 60px;

    margin-top: 20px;

    font-weight: 500;

    /* background: linear-gradient(to right, #fffb0093, #fcf0008f); */


    width: 80%;
    text-align: center;

    padding: 10px;
    border-radius: 40px;

    
}
    
.container p:nth-of-type(2){
    font-size: 40px;
    margin: 20px;

    /* background: linear-gradient(to right, #fffb0093, #fcf0008f); */

    padding: 15px;
    text-align: center;

    font-weight: 500;

    border-radius: 40px;


    width: 1100px;

}

.container input{
    font-size: 30px;

    width: 30%;

    text-align: center;

    margin: 20px;
}

.container button{
    font-size: 30px;

    width: 20%;

    background-color: black;
    color: white;

    text-align: center;

    /* margin: 10px; */
}

.container button:hover{
    cursor: pointer;
}

.container #timer{
    background-color: black;
    color: white;

    text-shadow: none;

    padding: 10px;

    width: 500px;

    text-align: center;

    border-radius: 10px;

    font-size: 40px;
}